/* CSS Document */

html, body {
height: 100%;
}

.wrapper {
max-width: 1126px;
background-color:#FFF;
width: 100%;
margin: 0 auto -20px;
}

#header{
  width: 100%;
  background-color:#00AEC3;
  background-image: url("stars.jpg");
  	background-position: center;
  height:218px;
}


/* ------------------ footer animation ------------------- */

  #light{
  width: 100%;
  background-color:#00AEC3;
  height:20px;
  margin-left:0 0 0 0;
   -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:}
}


/* ------------------ navigation ------------------- */
#nav {
  width: 100%;
  background-color: #FFBF00;
  height: 57px;
  background-repeat: repeat;
  }
 #nav .wrap-nav{
  height: 30px; 
  background: #333333;
  }
 #nav ul{
  float:left;
  list-style:none;
  width:100%;
  }
  #nav ul li{
  float:left;
  list-style:none;
  margin-right:80px;
  }
  #nav ul li:hover {background: #00AEC3;}  
  #nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  }
  #but1 {
	  float:left;
	  margin-right:80px;  
  }
  
  /* ------------------ content ------------------- */
  h2{
  font-size:20px;
  font-family:Arial, Helvetica, sans-serif;
  line-height:16px;
  }

  p{
  font-size:16px; 
  font-family:Arial, Helvetica, sans-serif; 
  text-align:left; 
  line-height:18px;
  text-align:justify;
   }
  a{
  color:#DA251D;
  }
.box {
  margin:5px 7px; 
  padding:10px; 
   }
 .box h2{text-align:center; }
 
 div.line {
  border-top-width:1px;
  border-top-style:dotted;
  border-top-color:#D7D7D7;
  }


 
 @media only screen and (max-width: 768px) {
body{
  margin-top:10px;
  }
  #header{
  width: 100%;
  background-color:#00AEC3;
  background-image: url("stars.jpg");
  	background-position: center;
  height:214px;
  margin-left:0 0 0 0;
  }
  #nav {
  width: 100%;
  background:#FFBF00;
  position: relative; 
  border-bottom: 10px solid #FFBF00;
  }
  #nav ul{
  float:left;
  list-style:none;
  width:100%;
  display: block;
  position:relative;
  }
  #nav ul li a{
  text-decoration: none;
  font-size: 12px;
  line-height: 10px;
  color: #000000;
  display: block;
  margin:0;
  padding:5px;
  list-style:none;
  z-index: 1;
  position:relative; 
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  clear: left;
  }
  #but1 {

	  position:relative;  
  }

  .box {
  margin:0px 7px;
  padding:5px;
  }
  }
  
  @media only screen and (max-width: 320px) {

body{
  margin-top:1px;
  }
  #header{
  max-width: 100%;
  background-image:url(images/header_image_small.jpg);
  height:160px;
  display:block;
  }
 #nav {
  height: auto;
  position: relative; 
  border-bottom: 110px solid #FFBF00;
  }
#nav .wrap-nav{
  background:#FFBF00;
  background-repeat: repeat-x;
  display: block;
  height: auto;
  }
#nav ul{
  list-style:none;
  height: auto;
  width:100%;
  display: block;
  position:relative;
  }

  #nav ul li a{
  text-decoration: none;
  font-size: 12px;
  line-height: 10px;
  color: #000000;
  display: block;
  margin:0;
  padding:5px;
  list-style:none;
  z-index: 3;
  position:inherit; 
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  clear: left;
  }
  
    #but1 {
	  float:center-right;
	  position:relative;  
  }
  
  .box {
  margin:0px 7px; 
  padding:5px;
  display:block; 
  }

  }